.section:nth-child(odd) {
    background-color: #f4b342;
}

.section {
    padding: 25px;
    justify-content: center;
}

h1 {
    border-bottom: 5px solid #282828;
}

.imgContainer {
    flex-direction: row;
}

.aligner {
    justify-content: center;
    align-items: center;
}

.sectionImage {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.diferencia {
    padding: 15px 15px 15px 30px;
}

.mdl-card__title {
    color: #fcfeff;
}