<div class="mdl-grid header">
	<div class="mdl-cell mdl-cell--8-col">
		<app-carousel></app-carousel>
	</div>
	<div class="mdl-cell mdl-cell--4-col">
		<app-newscard></app-newscard>
	</div>
</div>

<div class="allbg">

	<app-notas-de-interes></app-notas-de-interes>
	<app-referencias></app-referencias>

	<div class="robotoFont titleB" id="clientes">Clientes</div>
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--4-col contatcs">
			<img class="clientesImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Nielsen_logo.svg/1200px-Nielsen_logo.svg.png" alt="Nielsen" />
		</div>
		<div class="mdl-cell mdl-cell--4-col contatcs">
			<img class="clientesImg" src="https://www.izzi.mx/izzi/img/logos/izzi-black.svg" alt="Izzi"/>
		</div>
		<div class="mdl-cell mdl-cell--4-col contatcs">
			<img class="clientesImg" src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Alsea_logo.png" alt="Alsea" />
		</div>
	</div>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<app-contacto></app-contacto>
	<div class="finalContact">
		<div class="contatcs"> <a href="https://www.facebook.com/Teambits/">Síguenos en Facebook</a><img class="icons" src="https://www.facebook.com/images/fb_icon_325x325.png"/></div>
		<div class="contatcs"> Número telefonico: 01 55 5523 9501</div>
	</div>

</div>