<div class="mdl-card__title robotoFont title mdl-shadow--8dp textColorB">

	Bolsa de trabajo</div>

<div class="bgImg mdl-shadow--6dp">
	<div class="titleA">
		<h1 class="textColorB">Hay quienes eligen un empleo y quienes elegimos una empresa en constante crecimiento</h1>
	</div>
</div>

<div class="mdl-card__title robotoFont titleB textColor">Empleos destacados</div>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--4-col">

		<div class="demo-card-square mdl-card mdl-shadow--4dp">
			<div class="mdl-card__title mdl-card--expand">
				<h2 class="mdl-card__title-text">Trabajo 1</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Contenido trabajo 1
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <div class="robotoFont textColorB"> Más </div>
      </button>
			</div>
		</div>

	</div>
	<div class="mdl-cell mdl-cell--4-col">

		<div class="demo-card-square mdl-card mdl-shadow--4dp">
			<div class="mdl-card__title mdl-card--expand">
				<h2 class="mdl-card__title-text">Trabajo 2</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Contenido trabajo 2
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      <div class="robotoFont textColorB"> Más </div>
    </button>
			</div>
		</div>

	</div>
	<div class="mdl-cell mdl-cell--4-col">

		<div class="demo-card-square mdl-card mdl-shadow--4dp">
			<div class="mdl-card__title mdl-card--expand">
				<h2 class="mdl-card__title-text">Trabajo 3</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Contenido trabajo 3
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      <div class="robotoFont textColorB"> Más </div>
    </button>
			</div>
		</div>

	</div>
</div>

<br>

<div class="cvForm" align="center">
	<div>
		<h1>Sube tu curriculum!</h1>
		<form action="">
			<br>
			<label for="archivo" class="btn">Subir</label>
			<input class="form-control" type="file" id="archivo" style="display: none;">
			<br>
			<input class="form-control" type="text" placeholder="Nombre"> <br><br>	
			<input class="form-control" type="text" placeholder="Correo"> <br><br>	
			<input class="form-control" type="text" placeholder="Teléfono"> <br><br>	
			Nacimiento: <input type="date"> <br> <br>
			<input class="form-control" type="text" placeholder="país"> <br> <br>
			<input class="form-control" type="text" placeholder="Ubicación actual"> <br><br>
			¿Cuanto quieres ganar?: <input type="text" placeholder="De"> <input type="text" placeholder="Hasta"> 
			<select name="" id="">
				<option value="mensual">Mensual</option>
				<option value="mensual">Quincenal</option>
			</select><br><br>
			<input class="form-control" type="text" placeholder="Último grado de estudios"> <br><br>
			<input class="form-control" type="text" placeholder="Carrera Universitaria"> <br><br>
			<input class="form-control" type="text" placeholder="Puesto a solicitar"> <br><br>
			<input class="form-control" type="text" placeholder="Habilidades"> <br><br>
			<input class="form-control" type="text" placeholder="Experiencia"> <br><br>
			<textarea lass="form-control" name="" id="" cols="30" rows="10" placeholder="Carta de presentación"></textarea> <br><br>
		</form>
	</div>
</div>