.bgImg{
    width: 100%;
    height: 60vh;
    background-image: url('https://image.freepik.com/free-photo/businesspeople-celebrating-success_1098-1996.jpg');
    background-size: cover;
    background-position: center
}
.titleA{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
} 
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('http://teambits.mx/img/logo_teambits.png') bottom right 15% no-repeat #46B6AC;
}

.cvForm {
	width: 100%;
}

.cvForm form {
	width: 80%;
}

.btn {
	font-size: 30px;
	background-color: #77c8ff;
	border-radius: 10px;
}