.section {
    display: flex;
    flex-wrap: wrap;
}

.sectionTitle {
    font-size: 40px;
}

.project {
    flex-grow: 1;
    width: 50%;
    padding: 30px;
}

.projectTitle {
    padding: 10px;
    color: white;
    font-size: 30px;
    background-color: #ffa93a;
    border-radius: 20px;
}

.projectContent {
    padding: 10px;
}