<div class="contenedor mdl-shadow--8dp">
	<div class="robotoFont titleB b textColorB">Contacto</div>
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--4-col">


			<form id="contactForm">
				<div class="form-group">
					<label for="inputName" class="textColorB robotoFont">* Nombre</label>
					<input type="name" class="form-control" id="inputName" aria-describedby="nombreHelp" required>
					<small id="nombreHelp" class="form-text text-muted">No compartiremos tus datos.</small>
				</div>
				<div class="form-group" class="textColorB robotoFont">
					<label for="inputEmpresa">Empresa</label>
					<input type="text" class="form-control" id="inputEmpresa">
				</div>
				<div class="form-group" class="textColorB robotoFont">
					<label for="inputTelefono">* Telefono</label>
					<input type="tel" class="form-control" id="inputTelefono" required>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="textColorB robotoFont">* Email</label>
					<input type="email" class="form-control" id="inputEmail" required>
				</div>
				<div class="form-group">
					<label for="exampleSelect1" class="textColorB robotoFont">Asesoría</label>
					<select class="form-control" id="exampleSelect1">
						<option>Servicio</option>
						<option>2</option>
					</select>
				</div>
				<div class="form-group">
					<label for="exampleTextarea" class="textColorB robotoFont">Mensaje</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
					<small class="form-text text-muted">*Campos obligatorios.</small>
				</div>
				<fieldset class="form-group textColorB robotoFont">
					<legend>Horario donde localizarlo</legend>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							11:00 am - 2:00 pm
						</label>
					</div>
					<div class="form-check">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
							03:00 pm - 8:00 pm
						</label>
					</div>
				</fieldset>
				<div class="form-check">
					<label class="form-check-label textColorB robotoFont">
						<input type="checkbox" class="form-check-input" id="llamada">
						Deseo que me regresen la llamada
					</label>
				</div>
				<button type="submit" class="btn btn-primary"> Enviar</button>
				<div class="g-recaptcha" data-sitekey="6LdQTyoUAAAAAGZgrNLmDUDD-vS1UN84r6ks00Cn"></div>
			</form>

		</div>
		<div class="mdl-cell mdl-cell--8-col">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1881.7011359516118!2d-99.17447651519213!3d19.39501753923706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff71f4336cf5%3A0xf53ed3fab2add6ae!2sMontecito%2C+N%C3%A1poles%2C+03810+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses-419!2smx!4v1496427233242"
			 width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			 <div class="robotoFont title mdl-shadow--8dp textColorB atencion">Atención al cliente</div>
			 <hr>
			 <div class="robotoFont textColorB">
				 <p>De Lunes a Viernes /De Lunes a Domingo</p>
				 <p>Calle Montecito No. Exterior 11 <br>
				 No. Interior Pent House 4 Colonia Nápoles Municipio Benito Juárez Estado Ciudad de México México CP.03810</p>
				 <p>Ing.Javier Rodríguez Morales <br>
				 Comercialización <br>
				 javier.rodriguez@teambits.com.mx <br>
				 Tel 01 55 5523 9501</p>
			 </div>
		</div>
	</div>
</div>