.section {
    padding: 0 30px 0 30px;
}

.sectionTitle {
    font-size: 35px;
    border-bottom: 10px solid #ffa93a;
}

.subtitle {
    font-weight: bold;
    font-size: 15px;
}

.subTitle {
    font-weight: bold;
    font-size: 30px;
}