<div class="section" id="one">
	<div class="sectionTitle">Soluciones para negocios de Carriers, Telefonía Celular</div>
	<div class="subtitle">Ventajas de B4C:</div>
	<ul>
		<li>Sistema WEB parametrizable</li>
		<li>Alto desempeño</li>
		<li>Mejor nivel de Log del sistema (Para detectar y corregir errores)</li>
		<li>Interfaces más fáciles de usar</li>
		<li>Histórico de configuración (Para análisis de datos)</li>
	</ul>

	<div class="subtitle">Descripción del producto:</div>
	1) Módulo de Tasado, facturación, Interfaces
	<ul>
		<li>El layout de los archivos de entrada es definido por el usuario</li>
		<li>La entrada puede ser tablas de una base de datos</li>
		<li>Prediseñado para interconexión local o LD, aunque las reglas y operadores se configuran de manera dinámica</li>
		<li>Tiene una interfaz web en donde los usuarios de acuerdo a su roll pueden realizar las configuraciones de las reglas de negocio requeridas. No son necesarios nuevos desarrollos</li>
		<li>Proceso de carga de serie de forma masiva (archivo de series)</li>
		<li>Facturas para cobro y para validación</li>
		<li>Interfaces con Oracle, SAP, archivos de texto y Web Services</li>
	</ul>
</div>
<div class="section" id="two">
	<div class="sectionTitle">Arquitectura</div>
</div>
<div class="section" id="three">
	<div class="subTitle" align="center">Casos de tráfico</div>
	<div class="subTitle" align="center">Alta de series y conceptos</div>
	<div class="subTitle" align="center">Módulo de facturas</div>
</div>