<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header robotoFont">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title robotoFont"> Teambits </span>

      <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
            <i class="material-icons">search</i> 
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="sample6">
            <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
          </div>
        </div>
      </form>

      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" [routerLink]="['home']">Inicio</a>
        <a class="mdl-navigation__link" [routerLink]="['about']">Acerca de Nosotros</a>
        <a class="mdl-navigation__link" [routerLink]="['services']">Servicios</a>
        <a class="mdl-navigation__link" [routerLink]="['products']">Productos</a>
        <a class="mdl-navigation__link" [routerLink]="['destacados']">Proyectos destacados</a>
        <a class="mdl-navigation__link" [routerLink]="['bolsa']">Bolsa de Trabajo</a>
      </nav>

    </div>
  </header>
  <div class="mdl-layout__drawer"> 
    <span class="mdl-layout-title robotoFont">Teambits</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" [routerLink]="['home']">Inicio</a>
      <a class="mdl-navigation__link" [routerLink]="['about']">Acerca de Nosotros</a>
      <a class="mdl-navigation__link" [routerLink]="['services']">Servicios</a>
      <a class="mdl-navigation__link" [routerLink]="['products']">Productos</a>
      <a class="mdl-navigation__link" [routerLink]="['projects']">Proyectos</a>
      <a class="mdl-navigation__link" [routerLink]="['bolsa']">Bolsa de Trabajo</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"> 

      <router-outlet></router-outlet>
      
      <app-footer></app-footer>
        
    </div>
  </main>
</div>