<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Conócenos</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a [routerLink]="about">¿Quienes somos?</a></li>
        <li><a [routerLink]="about">Alianzas</a></li>
        <li><a [routerLink]="about">Nuestros valores</a></li>
        <li><a [routerLink]="home">¿Quienes son nuestros clientes?</a></li>
        <li><a href="#">Casos de éxito</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Servicios</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a [routerLink]="['outsourcing']">Outsourcing</a></li>
        <li><a [routerLink]="['capacitacion']">Capacitación</a></li>
        <li><a [routerLink]="['desarrollo']">Desarrollo Software</a></li>
        <li><a href="#">Administración de proyectos</a></li>
        <li><a href="#">Quality Assurance</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Productos</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a [routerLink]='b4c'>B4C</a></li>
        <li><a href='#'>DPL</a></li>
        <li><a [routerLink]='erp'>ERP FusiónPro</a></li> 
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Proyectos</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a [routerLink]='projects'>Proyectos Destacados</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">Teambits</div>
    <ul class="mdl-mega-footer__link-list">
      <li><a [routerLink]="home">Notas de Interés</a></li>
      <li><a [routerLink]="bolsa">Bolsa de trabajo</a></li>
      <li><a [routerLink]="home">Contactanos</a></li>
    </ul>
  </div>
</footer>